body{
    background: url("../images/background.png");
}


/*-- padded --*/

.m-padded-mini{
    padding: 0.2em !important;
}

.m-padded-tiny{
    padding: 0.2em !important;
}

.m-padded-lr{
    padding-left: 4em !important;
    padding-right: 4em !important;
}



/*-- tb-padded --*/
.m-padded-tb-mini{
    /*em 14个像素*/
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny{
    /*em 14个像素*/
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small{
    /*em 14个像素*/
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb{
    /*em 14个像素*/
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large{
    /*em 14个像素*/
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-big{
    /*em 14个像素*/
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-huge{
    /*em 14个像素*/
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    /*em 14个像素*/
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


/*--margin--*/

.m-margin-tb{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-tb-big{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.m-margin-tb-large{
    margin-top: 0.8em !important;
    margin-bottom: 0.8em !important;
}

.m-margin-top-small{
    margin-top: 0.5em !important;
}

.m-margin-top{
    margin-top: 1em !important;
}

.m-margin-top-large{
    margin-top: 2em !important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.2em !important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}


.m-margin-left{
    margin-left: 0.5em !important;
}


.m-margin-right{
    margin-right: 0.5em !important;
}

/*--text--*/

.m-text-thin{
    font-weight: 200 !important;
}


/*--字间距--*/
.m-text-spaced{
    letter-spacing: 1px !important;
}

/*--行间距--*/
.m-text-lined{
    line-height: 1.8;
}

.m-text{
    font-weight: 200 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}


/*--opacity--*/

.m-opacity-massive{
    opacity: 0.86 !important;
}

.m-opacity-mini{
    opacity: 0.618 !important;
}


/*--position--*/
.m-right-top{
    position: absolute !important;
    top: 12px !important;
    right: 0 !important;
}


/*--display--*/
.m-inline-block{
    display: inline-block !important;
}




/*--container--*/

.m-container{
    max-width: 75em !important;
    margin: auto !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}


/*-----shadow-----*/


.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*--color--*/

.m-black{
    color: dimgrey !important;
}


.m-mobile-show{
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

}